
<li id= "chirp-<%= chirp.id %>">
  <%= link_to gravatar_for(chirp.user, size: 50), chirp.user %>
  <span class= "user"><%= link_to chirp.user.name, chirp.user %></span>
  <span class= "contents"><%= chirp.content %></span>
  <span class= "timestamp">Posted: <%= time_ago_in_words(chirp.created_at) %> ago</span>
</li>