<% user ||= current_user %>
<div class="stats">
  <%= link_to following_user_path(user) do %>
    <strong id="following" class="stat">
      <%= following_count(user) %>
    </strong>
    following
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <% num_followers = follower_count(user) %>
    <strong id="followers" class="stat">
      <%= num_followers %>
    </strong>
    <%= "follower".pluralize(num_followers) %>
  <% end %>
</div>
